.background{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #004dff;
    padding-bottom: 231px;
}

.background .container {
    max-width: 1110px;
    margin: 0 auto;
}

.titles {
    color: #fff;
    font-weight: bold;
}

.titles h1 {
    font-size: 44px;
    margin: 158px 0 0 0;
}

.losung {
    font-size: 18px;
    height: 23px;
    margin: 10px 0 40px 0;
}
