.background{
    max-width: 1440px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.background .backgr1{
    position: absolute;
    z-index: -2;
}

.background .backgr2{
    position: absolute;
    z-index: -1;
    right: 0px;
}

.background .container {
    max-width: 1110px;
    margin: 0 auto;
}

.titles {
    color: #fff;
    font-weight: bold;
}

.titles h1 {
    font-size: 44px;
    margin: 158px 0 0 0;
}

.losung {
    font-size: 18px;
    height: 23px;
    margin: 10px 0 40px 0;
}

@media (max-width: 1200px) {
    .background .container {
        padding: 0 20px;
    }
}

@media (max-width: 900px){
    .background {
        height: 550px; 
        background: #004dff;
    }
    .background .backgr1 {
        display: none;
    }
    .background .backgr2 {
        display: none;
    }
}

@media (max-width: 561px) {
    .titles {
        text-align: center;
    }
}
