.search {
    height: 100%;
    display: flex;
    align-items: center;
}

.search img {
    width: 16px;
    height: 16px;
    padding: 7px;
    margin-left: 20px;
    cursor: pointer;
}

.placeholder {
    margin-left: 10px;
}