nav {
    width: 100%;
}

.menu {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu li {
    list-style-type: none;
    transition: transform 1s ease-in-out;
}

.menu a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
}

li:hover {
    transform: scale(1.25);
    transition: transform 1s;
}

@media (max-width: 900px) {
    .menu {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
}
