footer {
    max-width: 1440px;
    background-color: #f6f7f9;
    margin: 150px auto 0 auto;
}

footer .container {
    text-align: center;
    padding: 50px;
    font-size: 14px;
    max-width: 830px;
}

footer p {
    margin: 30px 0 0 0;
}

@media (max-width: 1000px) {
    footer {
        margin: 100px auto 0 auto;
    }
    footer .container {
        padding: 50px 30px;
    }
}