.forSale{
    margin-top: 100px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.forSale .container {
    padding-top: 138px;
}

.options{
    margin-top: 20px;
}

